/* Aside.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
    padding: 16px;
    border-radius: 8px;
  }
  
  .avatar {
    margin: 8px;
    background-color: var(--avatar-bg-color);
  }
  
  .form {
    margin-top: 8px;
  }
  
  .submit {
    margin-top: 24px;
    margin-bottom: 16px;
  }
  